.CompanyScroll {
    width: 80%;
    overflow: hidden;
    padding: 20px;
    margin: 0 auto;

    .scroll-wrapper {
        display: flex;
        gap: 20px;
        animation: scroll 30s linear infinite;

        &:hover {
            animation-play-state: paused;
        }

        @keyframes scroll {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }

        img {
            width: 80px;
            height: 60px;
            filter: grayscale(100%);
            transition: filter 0.5s ease-in-out;

            &:hover {
                filter: grayscale(0%);
            }
        }
    }
}