.Myprofile {
    margin-top: 10vh;
    display: flex;
    height: 100vh;

    .sidebar {
        width: 250px;
        background-color: #f4f4f4;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

        .profile-header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            position: relative;
            flex-direction: column;

            .profile-image {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-right: 10px;
            }

            h2 {
                font-size: 1.2rem;
                margin: 0;
            }
        }

        .sidebar-links {
            display: flex;
            flex-direction: column;

            button {
                padding: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                background-color: transparent;
                border: none;
                text-align: left;
                color: #333;
                font-size: 1rem;

                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }

    .content-area {
        flex-grow: 1;
        padding: 20px;
        background-color: #ffffff;
        border-left: 1px solid #ccc;
    }
}