.home {
    display: flex;
    flex-direction: column;
    position: relative;

    .waves {
        position: absolute;
        width: 100%;
        z-index: -1;

        img {
            width: 100%;
        }
    }

    .homeMain {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 5%;
        // height: 70vh;

        .left {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .text {
                h3 {
                    font-size: 56px;
                }

                p {
                    color: #5E6670;
                }
            }

            .searchbox {
                display: flex;
                background-color: #5E6670;
                padding: 10px 15px;
                border-radius: 20px;
                width: fit-content;

                .input-wrapper {
                    position: relative;
                    display: flex;
                    align-items: center;

                    .icon {
                        position: absolute;
                        left: 10px;
                        color: #9E9E9E;
                        font-size: 20px;
                    }

                    input {
                        padding-left: 40px;
                        height: 40px;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        font-size: 16px;
                        width: 90%;
                    }
                }

                button {
                    border: none;
                    border-radius: 10px;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }

        .mainright {
            img {
                width: 500px;
            }
        }
    }

    @media (max-width: 900px) {
        .mainright {
            img {
                width: 400px !important;
            }
        }
    }

    .companylogos {
        overflow: hidden;
        width: 100%;
        padding: 10px 0;

        .marquee {
            display: flex;
            align-items: center;
            height: 100px;

            .marquee-content {
                display: flex;
                gap: 30px;

                .company-logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 20px;

                    img {
                        max-height: 60px;
                        max-width: 100px;
                        object-fit: contain;
                    }
                }
            }
        }
    }


}