.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    background-color: #0B0B2A;
    height: 10vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    .mobile-hamburger {
        display: none;
        font-size: 24px;
        cursor: pointer;
        color: white;

        &:hover {
            color: #007bff;
        }
    }

    .left-section {
        .logo {
            width: 150px;
            height: 60px;
        }
    }

    .middle-section {
        display: flex;
        justify-content: center;

        .menu-links {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;

            a {
                font-size: 25px;
                text-decoration: none;
                color: var(--white);
                font-weight: bold;
                padding: 8px 10px;
                transition: 0.4s linear;

                &:hover {
                    background-color: #2E55FA;
                    padding: 8px 10px;
                    border-radius: 5px;
                }
            }
        }
    }

    .right-section {
        display: flex;
        align-items: center;

        .sign-login-btns {
            display: flex;
            gap: 5px;
        }
    }

    @media (max-width: 768px) {
        .middle-section {
            display: none;
        }

        .right-section {
            display: none;
        }

        .mobile-hamburger {
            display: block;
        }
    }
}