.FollowSteps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
    gap: 30px;

    @media (max-width:950px) {
        width: 90%;
    }

    .stepsText {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        p:nth-child(1) {
            color: var(--blue);
            line-height: 19px;
            font-weight: 400;
        }

        h6 {
            font-weight: 600;
            font-size: 50px;
            line-height: 59px;
        }

        p:nth-child(3) {
            width: 80%;
        }

    }

    .stepsCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        width: 80%;

        @media (max-width:950px) {
            width: 100%;
        }

        @media (max-width:1172px) {
            gap: 0;
        }

        @media (max-width:700px) {
            width: 90%;
        }

        .card {
            // flex: 1;
            width: 23%;
            background-color: #212238;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 20px;

            @media (max-width:950px) {
                width: 45%;
                margin-bottom: 20px;
            }

            @media (max-width:500px) {
                width: 90%;
                margin: 0 auto;
                margin-bottom: 20px;
            }

            img {
                width: 80px;
                padding: 10px;
                background-color: var(--blue);
                border-radius: 10px;
            }



            h6 {
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                color: var(--blue);
            }

            &:hover {

                img {
                    background-color: white;
                }

                h6 {
                    color: white;
                }

            }
        }
    }
}