.JobsCategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;
    gap: 3rem;


    .JobsCategoryText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;

        @media (max-width:600px) {
            width: 95%;
        }

        p:nth-child(1) {
            color: var(--blue);
            font-size: 1rem;
            font-weight: 400;
            line-height: 20px;
        }

        h4 {
            font-weight: 600;
            font-size: 2.5rem;
            line-height: 4rem;
        }

        p:nth-child(3) {
            width: 70%;
            font-size: 1rem;
            font-weight: 400;
            line-height: 2rem;
        }
    }

    .JobsCategoryContent {
        width: 80%;

        @media (max-width:770px) {
            width: 100%;
        }

        .jcCards {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;

            @media (max-width:770px) {
                justify-content: center;
            }

            .jcCard {
                background-color: #222339;
                padding: 20px 40px;
                border-radius: 10px;
                max-width: 300px;
                width: 100%;
                min-width: 250px;

                h3 {}

                p {}


            }
        }
    }
}