.SignUp {
    margin-top: 10vh;
    // height: 100vh;
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    // flex-direction: column;
    justify-content: space-around;
    color: white;
    background: linear-gradient(300deg, deepskyblue, #0b0b2a, #0b0b2a);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;

    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .signup-form {

        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        // box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1), 0 8px 30px rgba(0, 0, 0, 0.3);
        box-shadow: inset 5px 5px 5px #101e43, inset -5px -5px 5px #101e43;

        h2 {
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.5rem;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .radioCheck {
                display: flex;
                justify-content: flex-start;
                gap: 2rem;
                align-items: center;


                label {
                    font-size: 1.5rem;
                    gap: 0.5rem;
                    display: flex;
                    font-weight: 400;
                    align-items: center;


                    input {}
                }
            }

            .mainform {
                display: flex;
                flex-direction: column;

                .submainform {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;


                    input {
                        padding: 0.5rem;
                        // color: black;
                        border-radius: 10px;
                        width: 100%;
                        background: #0f0f37;
                        // box-shadow: 5px 5px 5px #101e43, -5px -5px 5px #101e43;
                        // background: linear-gradient(225deg, #0c0c2d, #0a0a26);
                        // box-shadow: -5px 5px 7px #040411,
                        //     5px -5px 7px #121243;

                        // background: linear-gradient(225deg, #0c0c2d, #0a0a26);
                        box-shadow:
                            -5px 5px 7px #040411,
                            5px -5px 7px #121243,
                            5px 5px 7px #040411,
                            -5px -5px 7px #121243;
                    }
                }
            }

            button {
                width: fit-content;

            }

        }

        .othersignupmethods {
            display: flex;
            flex-direction: column;

            .with {
                display: flex;
                justify-content: space-between;

                p {
                    font-size: 0.7rem;
                }

                .icons {
                    a {
                        margin-right: 20px;
                    }
                }
            }

            p {
                font-size: 0.7rem;
            }
        }
    }

    .signup-design {

        img {
            width: 100%;
            height: 100vh;
        }
    }



}