.SignUp {
    margin-top: 10vh;
    background-color: #0B0B2A;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-right: 10px;
    color: black;
}